{{#*inline "title"}}
  Nippo - Team
{{/inline}}
{{#*inline "page"}}
  <h1 class="title">{{post.title}}</h1>
  <div class="post-item-time">
    {{post.created}}
  </div>
  {{#each post.tags}}
    <span class="tag-label"><a href="/tag/?name={{name}}">{{name}}</a></span>
  {{/each}}

  <div class="post-item-icon">
    {{#if post.user.icon_url}}
      <img src="{{post.user.icon_url}}" class="post-user-icon">
    {{else}}
      <canvas width="20" height="20" data-jdenticon-hash="{{post.user.username_hash}}" class="post-user-icon"></canvas>
    {{/if}}
  </div>
  <div class="post-item-username">
    @{{post.user.username}}<br/>
  </div>

  <div class="mui-textfield marked">{{post.body}}</div>

  <div class="post-action">
    {{#if editable}}
      <a href="/nippo/edit/{{post.id}}">Edit</a> |
      <a href="/nippo/delete/{{post.id}}">Delete</a>
    {{/if}}
  </div>

  <div class="comments">
    <ul class="post-items">
    {{#each comments}}
      <li>
        <div class="post-item-left">
          {{#if user.icon_url}}
            <img src="{{user.icon_url}}" class="user-icon">
          {{else}}
            <canvas width="50" height="50" data-jdenticon-hash="{{user.username_hash}}" class="user-icon"></canvas>
          {{/if}}
        </div>
        <div class="post-item-right">
          <div class="post-item">
            <div class="post-username">
              @{{user.username}}<br/>
            </div>
            <div class="post-comment-body marked">{{body}}</div>
          </div>
        </div>
      </li>
    {{/each}}
    </ul>
  </div>

  <form class="mui-form" action="/nippo/comment" method="post">
    <input type="hidden" name="id" value="{{post.id}}">
    <legend>Post a comment</legend>
    <div class="mui-textfield">
      <textarea placeholder="comment" name=body></textarea>
    </div>
    <button type="submit" class="mui-btn mui-btn--raised">Submit</button>
  </form>
  <script>
    $(".marked").each(function(index, element){
      var markdownText = $(element).text();
      var htmlText = marked(markdownText);
      $(element).html(htmlText);
      $('pre code', element).each(function(i, e) {
          hljs.highlightBlock(e, e.className);
      });
    });
  </script>
{{/inline}}
{{~> layout ~}}
