<nav class="navbar is-{{login_user.theme}} topNav site-header">
  <div class="container">
    <div class="navbar-brand navbar-{{login_user.theme}}">
      <a class="navbar-item" href="/">
        <div class="site-title">Team</div>
      </a>
    </div>
    <div id="topNav" class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item">
          <form action="/search" method="get">
          <input class="input site-search site-search-{{login_user.theme}}" type="text" placeholder="Search ..." name="keyword" value="{{keyword}}">
          </form>
        </div>
      </div>
      <div class="navbar-end navbar-{{login_user.theme}}">
        {{#if logged_in}}
        <a href="/notifications"><i class="far fa-bell notificatioin notificatioin-{{login_user.theme}}" id="notification-icon"></i></a>
        <a class="navbar-item" href="/" id="menu-feed">Feed</a>
         {{#each login_user.menu}}
          <a class="navbar-item" href="/{{this}}/list">{{this}}</a>
         {{/each}}
        <div class="dropdown">
          <div class="dropdown-trigger">
            <button class="button user-icon-btn is-{{login_user.theme}} user-icon-btn-{{login_user.theme}}" aria-haspopup="true" aria-controls="dropdown-menu">
              <span>
                {{#if login_user.icon_url}}
                <img src="{{login_user.icon_url}}" class="icon-img-small">
                {{else}}
                <canvas width="20" height="20" data-jdenticon-hash="{{login_user.username_hash}}" class="icon-img-small"></canvas>
                {{/if}}
              </span>
              <span class="icon is-small" style="margin-left: -5px;">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
              <a class="dropdown-item" href="/{{login_user.username}}">Your profile</a>
              <a class="dropdown-item" href="/stocked/list">Stocked</a>
              <a class="dropdown-item" href="/draft/list">Draft</a>
              <a class="dropdown-item" href="/account/settings">Settings</a>
              <hr class="dropdown-divider">
              <a class="dropdown-item"href="/signout">Sign out</a>
            </div>
          </div>
        </div>
        {{else}}
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <a class="button is-small" href="/signup">
                <span>
                  Sign up
                </span>
              </a>
            </p>
            <p class="control">
              <a class="button is-small" href="/signin">
                <span>Sing in</span>
              </a>
            </p>
          </div>
        </div>
        {{/if}}
      </div>
    </div>
  </div>
</nav>