{{#*inline "title"}}
  Feed - Team
{{/inline}}
{{#*inline "page"}}
  <div class="page-title">Feed</div>
  <ul class="post-items">
  {{#each feeds}}
    <li>
      <div class="post-item-icon">
        <a href="/{{user.username}}">
          {{#if user.icon_url}}
            <img src="{{user.icon_url}}" class="icon-img-normal">
          {{else}}
            <canvas width="40" height="40" data-jdenticon-hash="{{user.username_hash}}" class="icon-img-normal"></canvas>
          {{/if}}
        </a>
       </div>
      <div class="post-item-body">
        <div class="post-item">
          {{#if comment}}
            <div class="post-item-description">
              @{{user.username}} commented on <a href="/{{kind}}/show/{{id}}">{{title}}</a>
            </div>
            <div class="post-item-title is-comment arrow_box">{{body}}</div>
          {{/if}}
          {{#if post}}
            <div class="post-item-description">
              @{{user.username}} created new post
            </div>
            <div class="post-item-title"><a href="/{{kind}}/show/{{id}}">{{title}}</a></div>
          {{/if}}
          {{#if gist}}
            <div class="post-item-description">
              @{{user.username}} created new gist
            </div>
            <div class="post-item-title"><a href="/gist/show/{{id}}">{{title}}</a></div>
          {{/if}}
          {{#if post}}
            {{#if tags}}
              <div class="post-item-tags">
                {{#each tags}}
                <span class="tag is-light"><a href="/tag?name={{name}}">{{name}}</a></span>
                {{/each}}
              </div>
            {{/if}}
          {{/if}}
          <div class="post-item-created">{{formated_created}}</div>
      </div>
    </li>
  {{/each}}
  </ul>

  <nav class="pagination is-centered" role="navigation" aria-label="pagination">
    <a class="pagination-previous" href="/?page={{prev_page}}">Previous</a>
    <a class="pagination-next" href="/?page={{next_page}}">Next page</a>
    <ul class="pagination-list">
      <li>
        <a class="pagination-link" aria-label="Page 46" aria-current="page">
          {{current_page}} of {{total_page}}
        </a>
      </li>
    </ul>
  </nav>

{{/inline}}
{{~> layout ~}}
