{{#*inline "title"}}
  Feed - Team
{{/inline}}
{{#*inline "page"}}
  <ul class="mui-tabs__bar search-tabs">
    <li class="{{kind_all_active}}">
      <a data-mui-toggle="tab" data-mui-controls="pane-default-1" href="/search?keyword={{keyword}}&kind=all&page=1">All</a>
    </li>
    <li class="{{kind_post_active}}">
      <a data-mui-toggle="tab" data-mui-controls="pane-default-2" href="/search?keyword={{keyword}}&kind=post&page=1">Post</a>
    </li>
    <li class="{{kind_nippo_active}}">
      <a data-mui-toggle="tab" data-mui-controls="pane-default-3" href="/search?keyword={{keyword}}&kind=nippo&page=1">Nippo</a>
    </li>
  </ul>
  <ul class="post-items">
  {{#each posts}}
    <li>
      <div class="post-item-left">
        {{#if user.icon_url}}
          <img src="{{user.icon_url}}" class="user-icon">
        {{else}}
          <canvas width="50" height="50" data-jdenticon-hash="{{user.username_hash}}" class="user-icon"></canvas>
        {{/if}}
      </div>
      <div class="post-item-right">
        <div class="post-item">
          <div class="post-username">
            @{{user.username}}
          </div>
          <div class="post-title">
            <a href="/{{kind}}/show/{{id}}">{{title}}</a>
            <div class="item-created">{{created}}</div>
          </div>
          <div class="post-tags">
            {{#each tags}}
              <span class="tag-label"><a href="/tag/?name={{name}}">{{name}}</a></span>
            {{/each}}
          </div>
        </div>
      </div>
    </li>
  {{/each}}
  </ul>
  <div class="paginates">
    <a href="/search?keyword={{keyword}}&kind={{kind}}&page={{prev_page}}">Previous</a>
    {{current_page}} of {{total_page}}
    <a href="/search?keyword={{keyword}}&kind={{kind}}&page={{next_page}}">Next</a>
  </div>
{{/inline}}
{{~> layout ~}}
