{{#*inline "title"}}
  Update {{kind_title}} - Team
{{/inline}}
{{#*inline "page_head"}}
{{> post/head}}
{{/inline}}
{{#*inline "page"}}
  <form action="/{{kind}}/update" method="post">
    <input type="hidden" name="id" value="{{post.id}}">
    <div class="field">
      <div class="control">
        <input type="text" placeholder="Title" name="title" value="{{post.title}}" class="input" required>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <textarea name="body" placeholder="body" id="mdeditor" cols="30" rows="10" style="display:none;" required>{{post.body}}</textarea>
      </div>
      <label class="label-file">
        <i aria-hidden="true" data-hidden="true" class="far fa-file-image toolbar-button-icon"></i>
        Attach a file
        <input type="file" name="image" style="display: none;">
      </label>
      <input id="image" type="hidden" value="image">
    </div>
    <div class="field">
      <div class="control">
        <input type="text" placeholder="Tags (e.g. rust,tips,postgres)" name="tags" value="{{tags}}" class="input">
      </div>
    </div>
    <div class="field is-grouped">
      <div class="control">
        <button type="submit" class="button is-info is-outlined" name='action' value="publish">Update & Publish</button>
        <button type="submit" class="button is-info is-outlined" name='action' value="draft">Draft</button>
      </div>
    </div>
  </form>

  <script>

    var simplemde = new SimpleMDE({
      element: document.getElementById("mdeditor"),
      spellChecker: false,
      status: false
    });

    $(document).on('change', 'input[name="image"]', function () {
      var fd = new FormData();
      if ($("input[name='image']").val() !== '') {
        fd.append("file", $("input[name='image']").prop("files")[0]);
      }
      fd.append("dir", $("#image").val());
      var postData = {
        type: "POST",
        dataType: "text",
        data: fd,
        processData: false,
        contentType: false
      };
      $.ajax(
        "/image/upload", postData
      ).done(function (text) {
        var json = JSON.parse(text);
        var v = simplemde.value();
        simplemde.value(v + "\n![](" + json.fileurl + ")");
      });
    });

  </script>

{{/inline}}
{{~> layout ~}}
