{{#*inline "title"}}
  New {{kind_title}} - Team
{{/inline}}
{{#*inline "page_head"}}
{{> post/head}}
{{/inline}}
{{#*inline "page"}}
  <form action="/{{kind}}/create" method="post">
    <div class="field">
      <div class="control">
        <input type="text" placeholder="Title" name="title" class="input" id="{{kind}}-title" required>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <textarea placeholder="" name="body" id="{{kind}}-mdeditor" required></textarea>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <input type="text" placeholder="Tags (e.g. rust,tips,postgres)" name="tags" class="input">
      </div>
    </div>
    <div class="field is-grouped">
      <div class="control">
        <button type="submit" class="button is-info is-outlined" name='action' value="publish">Publish</button>
        <button type="submit" class="button is-info is-outlined" name='action' value="draft">Draft</button>
      </div>
    </div>
  </form>
  <script>
    // Nippo teamplate
    $("#nippo-mdeditor").val("# 本日の作業内容\n\n# 発生した問題\n\n# 明日の作業予定\n\n# 所感\n\n");

    var simplemde = new SimpleMDE({
      element: document.getElementById("{{kind}}-mdeditor"),
      spellChecker: false
    });
    $( document ).ready(function() {
      // Today
      var today = new Date();
      var dd = today.getDate();
      var mm = today.getMonth()+1; //January is 0!

      var yyyy = today.getFullYear();
      if(dd<10){
          dd='0'+dd;
      }
      if(mm<10){
          mm='0'+mm;
      }
      var today = yyyy + '/' + mm +'/' + dd;
      $("#nippo-title").val(today);

    });
  </script>
{{/inline}}
{{~> layout ~}}
