{{#*inline "title"}}
  Posts - Team
{{/inline}}
{{#*inline "page"}}
  <button class="mui-btn mui-btn--small mui-btn--primary post-button" onClick="location.href='/post/new'">Post Know-how</button>
  <ul class="post-items">
  {{#each posts}}
    <li>
      <div class="post-item-left">
        {{#if user.icon_url}}
          <img src="{{user.icon_url}}" class="user-icon">
        {{else}}
          <canvas width="50" height="50" data-jdenticon-hash="{{user.username_hash}}" class="user-icon"></canvas>
        {{/if}}
      </div>
      <div class="post-item-right">
        <div class="post-item">
          <div class="post-username">
            @{{user.username}}<br/>
          </div>
          <div class="post-title">
            <a href="/post/show/{{id}}">{{title}}</a>
          </div>
        </div>
      </div>
    </li>
  {{/each}}
  </ul>
  <div class="paginates">
    <a href="/post/list?page={{prev_page}}">Previous</a>
    {{current_page}} of {{total_page}}
    <a href="/post/list?page={{next_page}}">Next</a>
  </div>
{{/inline}}
{{~> layout ~}}
