{{#*inline "title"}}
  Post - Team
{{/inline}}
{{#*inline "page"}}
  <div class="post-item-action">
    <div class="post-item-shared">
      {{# if shared}}
        Co-editing
      {{else}}
        {{# if deletable}}
        <form method="post" action="/post/share/{{post.id}}">
          <button class="mui-btn mui-btn--small mui-btn--primary post-button">Co-editing</button>
        </form>
        {{/if}}
      {{/if}}
    </div>
    <div class="post-item-stock">
      {{# if stocked}}
      <form method="post" action="/post/unstock/{{post.id}}">
        <button class="mui-btn mui-btn--small mui-btn--primary post-button">Stocked</button>
      </form>
      {{else}}
      <form method="post" action="/post/stock/{{post.id}}">
        <button class="mui-btn mui-btn--small mui-btn--primary post-button">Stock</button>
      </form>
      {{/if}}
    </div>
    </br>
    {{# if editable}}
      <a href="/post/edit/{{post.id}}">Edit</a>
    {{/if}}
    {{# if deletable}}
      <a href="/post/delete/{{post.id}}">Delete</a>
    {{/if}}
  </div>

  <h1 class="title">{{post.title}}</h1>
  <div class="post-item-time">
    {{post.created}}
  </div>
  {{#each post.tags}}
    <span class="tag-label"><a href="/tag/?name={{name}}">{{name}}</a></span>
  {{/each}}
  <div class="post-item-icon">
  <a href="/{{post.user.username}}">
    {{#if post.user.icon_url}}
      <img src="{{post.user.icon_url}}" class="post-user-icon">
    {{else}}
      <canvas width="20" height="20" data-jdenticon-hash="{{post.user.username_hash}}" class="post-user-icon"></canvas>
    {{/if}}
  </a>
  </div>
  <div class="post-item-username">
    @{{post.user.username}}<br/>
  </div>
  <div class="mui-textfield marked" style="display:none;">{{post.body}}</div>

  <div class="comments">
    <ul class="post-items">
    {{#each comments}}
      <li>
        <div class="post-item-left">
          {{#if comment.user.icon_url}}
            <img src="{{comment.user.icon_url}}" class="user-icon">
          {{else}}
            <canvas width="50" height="50" data-jdenticon-hash="{{comment.user.username_hash}}" class="user-icon"></canvas>
          {{/if}}
        </div>
        <div class="post-item-right">
          <div class="post-item">
            <div class="post-username">
              @{{comment.user.username}}<br/>
              {{#if editable}}
                <a href="javascript:edit({{comment.id}})">Edit</a>
                 |
                <a href="javascript:remove({{comment.id}})">Delete</a>
              {{/if}}
            </div>
            <div class="post-comment-body marked" style="display:none;" id="comment_view_{{comment.id}}">{{comment.body}}</div>
            <form class="mui-form" action="/post/comment/{{comment.id}}" method="post" id="comment_input_{{comment.id}}" style="display:none;">
              <input type="hidden" name="action" value="update" id="comment_action_{{comment.id}}">
              <div class="mui-textfield">
                <textarea placeholder="comment" name="body" id="input-comment">{{comment.body}}</textarea>
              </di>
              <button type="submit" class="mui-btn mui-btn--raised">Update</button>
            </form>
          </div>
        </div>
      </li>
    {{/each}}
    </ul>
  </div>

  <form class="mui-form" action="/post/comment" method="post">
    <input type="hidden" name="id" value="{{post.id}}">
    <legend>Post a comment</legend>
    <div class="mui-textfield">
      <textarea placeholder="comment" name="body" id="input-comment"></textarea>
    </div>
    <button type="submit" class="mui-btn mui-btn--raised">Submit</button>
  </form>
  <script>
    $(".marked").each(function(index, element){
      var markdownText = $(element).text();
      markdownText = markdownText.replace(/<iframe/g, "&lt;iframe")
      markdownText = markdownText.replace(/<\/iframe>/g, "&lt;/iframe>")
      var htmlText = marked(markdownText);
      $(element).html(htmlText);
      $('pre code', element).each(function(i, e) {
          hljs.highlightBlock(e, e.className);
      });
      $(element).show();
    });
    function edit(comment_id) {
      $("#comment_view_"+comment_id).hide();
      $("#comment_input_"+comment_id).show();
    }
    function remove(comment_id) {
      var confirmed = confirm('Are you sure?');
      if (confirmed) {
        $("#comment_action_"+comment_id).val("delete");
        $("#comment_input_"+comment_id).submit();
      }
    }
  </script>
{{/inline}}
{{~> layout ~}}
